* {
	margin:0;
	padding:0;
}
.form-body {
  background-image: url(../img/bg-login.png);
  background-size: 100% 100%;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}

.contenido-login {
  width: 80%;
  transform: translateY(50%);
  margin-top: -75px;
  height: 300px;
}

  /* -------------------- Estilos del Formulario -------------------- */
.contenido-fondo {
  transform: ;
}
.form-titulo-login {
  width: 95%;
  margin: auto;
  background: rgb(0,150,190);
  color: #fff;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  font-size: 22px;
}

.form-login {
  width: 95%;
  margin: auto;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
	padding: 20px;
  box-sizing: border-box;
	background: rgb(222,243,254);
 }

 table {
  width: 100%;
 }

 .icon-user, .icon-lock {
  font-size: 22px;
  color: rgb(0,150,190);
 }

 .form-login label {
  font-size: 14px;
 }

.form-login input[type="text"],
.form-login input[type="password"] {
 	width: 100%;
 	height: 40px;
 	padding: 8px;
  box-sizing: border-box;
  border:0;
  border-radius: 8px;
 	margin-bottom: 15px;
  background: rgb(212,233,244);
  color: rgb(0,120,150);
  font-family: 'Montserrat';
  font-size: 14px;
}

.form-login input[type="password"] {
  background: rgb(240,220,255);
  border:0;
  color: rgb(150,130,160);
}

.error-login {
  background: rgb(250,200,200);
  color: rgb(255,80,80);
  font-size: 14px;
  text-align: center;
  padding: 5px;
  border: 0;
  border-radius: 5px;
  margin-bottom: 3px;
}

.form-login input[type="submit"] {
 	width: 100%;
 	height: 40px;
  font-size: 14px;
 	color: white;
 	background: rgb(0,150,190);
  border:0;
 	cursor: pointer;
  margin-bottom: 15px;
  border-radius: 8px;
  font-family: 'Montserrat';
}

.form-login input[type="submit"]:hover {
 	background: rgb(0,160,190);
}

.form-login input[type="submit"]:active {
  background: rgb(0,150,190);
}

.form-login p {
  font-size: 14px;
}

.form-login a {
  font-size: 14px;
}

.form-login a:hover {
  text-decoration: none;
}

.login-p {
  text-align: center;
  font-size: 14px;
}
@media screen and (min-width: 480px) {
  .contenido-login {
    width: 360px;
  }
}

@media screen and (min-width: 768px) {
  .form-titulo-login, .form-login {
    width: ;
  }
}

@media screen and (min-width: 1024px) {
.form-body {/*
  background-image: url(../img/code.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;*/
}
.contenido-login {/*
  background: rgba(0,95,120,.8);
  height: 500px;*/
  /*background: rgba(0,70,110,.5);*/
}
  .form-titulo-login, .form-login {
    width: ;
  }
.form-login input[type="text"],
.form-login input[type="password"] {
  height: 40px;
  }
}

@media screen and (min-width: 1600px) {
  .contenido-login {
    padding-top:300px;
    padding-bottom:300px;
  }
  .form-titulo-login {
    width: 30%;
    font-size: 30px;
  }
  .form-login {
    width: 30%;
  }
  .form-login label {
    font-size: 18px;
  }
  .icon-user, .icon-lock {
    font-size: 30px;
  }
  .form-login input[type="text"],
  .form-login input[type="password"] {
    font-size: 18px;
    height: 50px;
    margin-bottom: 20px;
  }
  .form-login input[type="submit"] {
    font-size: 18px;
    height: 50px;
  }
  .form-login .login-p a, .form-login .login-p {
    font-size: 18px;
  }
}